* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background: none;
    text-decoration: none;
}

:root {

    --color-neutral-black : #263238;
    --color-neutral-d_gray : #4D4D4D;
    --color-neutral-grey: #717171;
    --color-neutral-l_grey: #89939E;
    --color-neutral-grey-blue: #ABBED1;
    --color-neutral-silver: #F5F7FA;
    --color-neutral-white: #FFFFFF;

    --color-primary: #4CAF4F;
    --color-secundary: #263238;
    --color-info: #2194f3;

    --color-shade1: #43A046;
    --color-shade2: #388E3B;
    --color-shade3: #237D31;
    --color-shade4: #1B5E1F;
    --color-shade5: #103E13;

    --color-tint1:#66BB69;
    --color-tint2:#81C784;
    --color-tint3:#A5D6A7;
    --color-tint4:#C8E6C9;
    --color-tint5:#E8F5E9;

    --color-action-warning:#FBC02D;
    --color-action-error:#E53835;
    --color-action-sucess:#2E7D31;

    --font: "Inter", sans-serif;
}

body {
    font-family: var(--font);
}

.btn-primary {
    padding: 14px 32px;
    border-radius: 4px;
    background-color: var(--color-primary);
    cursor: pointer;
}

.btn-primary a {
    text-decoration: none;
    color: var(--color-neutral-white);
}

.btn-primary:hover {
    background-color: var(--color-shade3);
    transition: 0.5s;
}